<launch>

<include file ="$(find gazebo_ros)/launch/empty_world.launch"/>

<!--rosrun gazebo_ros spawn_model  -file one_joint_robot_description.urdf -urdf -model two_DOF_robot-->
  <!-- spawn robot in gazebo -->
  <node name="spawn_robot" pkg="gazebo_ros" type="spawn_model" args="-file $(find two_joints_robot_description)/one_joint_robot_description.urdf -urdf -model one_DOF_robot"/>

  <!-- send robot urdf to param server -->
<param name="robot_description" 
textfile="$(find two_joints_robot_description)/one_joint_robot_description.urdf"/>

<node pkg="two_joints_controller" type="joint1_position_commander" name="joint1_position_commander"/>

<!-- rosrun two_joints_controller joint1_controller joint2_controller joint1_position_commander joint2_position_commander -->
<node pkg="two_joints_controller" type="joint_controller_class" name="joint_controller_class"/>


</launch>
